@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src:
    local("Inter"),
    url("/fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-mono: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
